<section *ngIf="!details" class="products">
  <h1 class="main">Shopping cart</h1>
  <ul class="products-list tableHead">
    <li class="products-list-title row">
      <div class="col-product">Product details</div>
      <div class="col-quantity">Quantity</div>
      <div class="col-price">Price</div>
      <div class="col-total">Total</div>
    </li>
  </ul>
  <ul class="products-list">
    <li *ngFor="let item of co.cart; let i = index;" class="product row">
      <div class="col-product">
        <figure class="product-image">
          <img src='../../assets/img/{{item.prod.code.toLowerCase()}}.png' (click)="detail(item.prod)" alt="Shirt" />
          <div class="product-description">
            <h1 (click)="detail(item.prod)" >{{item.prod.name}}</h1>
            <p class="product-code">Product code {{item.prod.code}}</p>
          </div>
        </figure>
      </div>
      <div class="col-quantity">
        <button class="count" (click)="remove(i)">-</button>
        <input type="text" class="product-quantity" (change)="update(i)" [(ngModel)]="item.qty" value="{{item.qty}}" />
        <button class="count" (click)="add(i)">+</button>
      </div>
      <div class="col-price">
        <span class="product-price">{{item.prod.price}}</span
        ><span class="product-currency currency">€</span>
      </div>
      <div class="col-total">
        <span class="product-price">{{item.qty * item.prod.price}}</span
        ><span class="product-currency currency">€</span>
      </div>
    </li>
  </ul>
</section>
<aside *ngIf="!details" class="summary">
  <h1 class="main">Order Summary</h1>
  <ul class="summary-items wrapper border">
    <li>
      <span class="summary-items-number">{{co.items}} Items</span
      ><span class="summary-items-price"
        >{{co.amount}}<span class="currency">€</span></span
      >
    </li>
  </ul>
  <div class="summary-discounts tableHead">
    <h2>Discounts</h2>
    <ul>
      <li *ngFor="let discount of co.discounts"><span>{{discount.title}}</span><span>-{{discount.amount}}€</span></li>
    </ul>
  </div>
  <div class="summary-total wrapper">
    <ul>
      <li>
        <span class="summary-total-cost">Total cost</span
        ><span class="summary-total-price">{{co.amount - co.discount}}€</span>
      </li>
    </ul>
    <button type="submit">Checkout</button>
  </div>
</aside>

<app-detail *ngIf="details" [prod]="selected" (closed)="close()" (added)="addAndClose($event)" class="App"></app-detail>
