.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0 !important;
    min-width: 100% !important;
    min-height: 100% !important;
}

aside{
    background-color: white;
    padding-top: 50px;
}

.close {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 16px;
    height: 16px;
    opacity: 0.3;
    cursor: pointer;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 16px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  .description{
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 10px;
    line-height: 16px;
  }

  .summary-items{
    margin: 50px 0 0 0;
  }
  